@{
    ViewData["Title"] = "Home Page";
}

<script nonce="{nonce}">
    function test() {
        console.log('test');
    }
</script>

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    <button onclick="test();">Test</button>
</div>
